<div #scrollContainer class="inner-chat">
    <div *ngFor="let message of chat?.messages; let idx = index" [class]="messageDirection(message.userId)">
        <div [class]="curvyMessage(idx, message.userId)">
            {{message.text}}

        </div>
    </div>
</div>
<form [formGroup]="messageForm" class="message-form" (submit)="message()">
    <mat-form-field appearance="outline">
        <input matInput formControlName="message" type="text" />
        <button matSuffix mat-icon-button type="submit">
            <mat-icon [ngStyle]="{'color':'white'}">send</mat-icon>
        </button>
    </mat-form-field>
</form>