<div #scrollContainer class="inner-chat">
    <div *ngFor="let message of chat?.Messages; let index = index; trackBy:trackyByIndex" [class]="messageDirection(message.UserId)">
        <div [class]="curvyMessage(index)">
            {{message.Text}}
        </div>
    </div>
</div>
<form [formGroup]="messageForm" class="message-form" (submit)="message()">
    <mat-form-field appearance="outline">
        <input matInput formControlName="Message" type="text" />
        <button matSuffix mat-icon-button type="submit">
            <mat-icon [ngStyle]="{'color':'white'}">send</mat-icon>
        </button>
    </mat-form-field>
</form>