.container {
	display: flex;
	justify-content: center;
	width: 25%;
	height: 50%;
	background-color: #222;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

::ng-deep app-auth-page {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mat-mdc-form-field {
	width: 100%;
}

.auth-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

h2 {
	color: white;
}

p {
	color: white;
	margin: 0;
}

span {
	cursor: pointer;
	color: rgb(29, 155, 240);
}