<div class="profile">
	<p>{{user.Username}}</p>
	<button mat-button class="button" [matMenuTriggerFor]="profileMenu" (onMenuClose)="onClose()"
		(onMenuOpen)="onOpen()">
		<i [@rotatedState]="state" class="fa-solid fa-angle-down text-white my-auto"></i>
	</button>
</div>
<mat-menu #profileMenu="matMenu" xPosition="before">
	<button mat-menu-item (click)="openDialog(createChat, 'single')">New Chat</button>
	<button mat-menu-item (click)="openDialog(createGroupChat, 'group')">New Group Chat</button>
	<button mat-menu-item (click)="logout()">Log out</button>
</mat-menu>

<ng-template #createChat>
	<div class="dialog">
		<form [formGroup]="searchForm" class="search-form">
			<mat-form-field appearance="outline">
				<mat-label>Username</mat-label>
				<input matInput formControlName="Search" type="text" />
			</mat-form-field>
		</form>
		<div class="users">
			<div *ngFor="let user of users" class="inner-users">
				<button mat-button class="user-button" (click)="newChat(user.Id)">{{user.Username}}</button>
				<mat-divider></mat-divider>
			</div>
		</div>
		<div class="button">
			<button mat-button (click)="closeDialog()">Close</button>
		</div>
	</div>
</ng-template>

<ng-template #createGroupChat>
	<div class="dialog">
		<h3>Create Group Chat</h3>
		<form class="users">
			<mat-form-field appearance="outline">
				<mat-label>Chat Name</mat-label>
				<input matInput [(ngModel)]="chatName" name="chat-name" type="text" />
			</mat-form-field>
			<div *ngFor="let user of users">
				<div class="inner-users">
					<p>{{user.Username}}</p>
					<mat-checkbox [(ngModel)]="user.Checked" name="user"></mat-checkbox>
				</div>
				<mat-divider></mat-divider>
			</div>
		</form>
		<div class="buttons">
			<button mat-button (click)="closeDialog()">Close</button>
			<button mat-raised-button color="primary" (click)="newGroupChat()">Create Group Chat</button>
		</div>
	</div>
</ng-template>