.inner-chats {
	display: grid;
	gap: 1.25rem;
}

.chat {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	color: white;
	padding: 1.25rem;
	border-bottom: 1px solid rgba(255,255,255,.12);
	overflow: hidden;
    text-overflow: ellipsis;
}

.selected {
	background-color: #7b1fa2;
	border-radius: 0.25rem;
}

p {
	font-weight: bold;
	margin: 0;
}

small {
	color: lightgray;
	white-space: nowrap;
    overflow: hidden;
}