<div class="search">
	<button mat-raised-button color="accent" (click)="openDialog(createChat)">New Chat</button>
	<mat-divider></mat-divider>
</div>
<ng-template #createChat>
	<div class="dialog">
		<form [formGroup]="searchForm" class="search-form">
			<mat-form-field appearance="outline">
				<mat-label>Username</mat-label>
				<input matInput formControlName="message" type="text" />
			</mat-form-field>
		</form>
		<div class="users">
			<div *ngFor="let user of users" class="inner-users">
				<button mat-button class="user-button" (click)="newChat(user.id)">{{user.username}}</button>
				<mat-divider></mat-divider>
			</div>
		</div>
		<div class="button">
			<button mat-button (click)="closeDialog()">Close</button>
		</div>
	</div>
</ng-template>