::ng-deep .mat-mdc-raised-button {
	background-color: #4CAF50 !important;
	color: white !important;
}

.search {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.mat-mdc-form-field {
	width: 100%;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
	display: flex !important;
	background-color: #222 !important;
}

.dialog {
	display: flex;
	flex-direction: column;
	gap: 1rem;
    height: 100%;
	padding: 1.5rem;
	flex: 1;
}

.users {
	min-height: 350px;
	height: 350px;
	overflow: scroll;
}

.user-button {
	width: 100%;
	justify-content: flex-start;
}

.button {
	display: flex;
	justify-content: flex-end;
}